**********************************************************
*                                                        *
* DRILL TAPE SUMMARY REPORT                              *
*                                                        *
* K:\SENIOR_DESIGN\SCHEMATICS\SUBMIT_FILES\DETECTOR.MAX  *
* Thu Apr 17 17:11:04 2003                               *
*                                                        *
**********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      212      200      100                                                                                 
T2       310      18       200      100                                                                                 
T3       350      12       200      100                                                                                 
T4       360      5        200      100                                                                                 
T5       420      14       200      100                                                                                 
